<ion-card>
  <ion-img class="bookmark-img" src="/assets/icon/bookmark.svg"></ion-img>
  <ion-card-header>
    <ion-text class="card-title">Family time</ion-text>
  </ion-card-header>
  <ion-card-content>
    <ion-text class="card-description">
      To find the discoveries you never knew
    </ion-text>
    <div class="card-footer">
      <ion-text class="card-questions">
        4 questions
      </ion-text>
      <ion-text class="card-answer-btn">Answer</ion-text>
    </div>
  </ion-card-content>
</ion-card>
